---
import type { Diploma } from '../../types/sections/education-section.types';
import LinkButton from '../LinkButton.astro';
import TagsList from '../TagsList.astro';
import Thumbnail from '../Thumbnail.astro';
import Typography from '../Typography.astro';

export interface Props extends Diploma {}

const { title, institution, image, dates, description, links } = Astro.props;
---

<div class="flex flex-col gap-3">
  <div class="flex gap-4">
    <Thumbnail src={image} alt={`${institution} logo`} size="large" />
    <div class="flex w-full justify-between">
      <div>
        <Typography variant="item-title">{title}</Typography>
        <Typography variant="item-subtitle-primary">{institution}</Typography>
        <Typography variant="item-subtitle-secondary">
          {dates[0].getFullYear()} - {dates[1]?.getFullYear() || 'Present'}
        </Typography>
      </div>
      <div class="flex gap-2">
        {links.map((link) => <LinkButton {...link} />)}
      </div>
    </div>
  </div>
  <Typography variant="paragraph">{description}</Typography>
</div>
