---
import type { PortfolioSection, Project } from '../../types/sections/portfolio-section.types';
import Description from '../Description.astro';
import LabelledValue from '../LabelledValue.astro';
import LinkButton from '../LinkButton.astro';
import Photo from '../Photo.astro';
import TagsList from '../TagsList.astro';
import Timestamp from '../Timestamp.astro';
import Typography from '../Typography.astro';
import Thumbnail from '../Thumbnail.astro';

export interface Props extends Project {
  screenshotsConfig?: PortfolioSection['config']['screenshots'];
}

const { dates, description, details, image, links, name, tagsList, screenshots, screenshotsConfig } = Astro.props;

const alt = `${name} project thumbnail`;
const hasScreenshots = screenshots?.length && screenshots.length > 0;
const screenshotsIcon = screenshotsConfig?.icon || 'fa6-solid:image';
const screenshotsTooltip = screenshotsConfig?.title || 'Screenshots';
---

<div class="flex flex-col gap-6">
  <div class="flex flex-col gap-4">
    <div class="flex w-full flex-col gap-4">
      <div class="flex gap-4">
        <Thumbnail src={image} alt={alt} size="small" />
        <div class="flex w-full justify-between">
          <div>
            <Typography variant="item-title">{name}</Typography>
            <Timestamp dates={dates} />
          </div>
          <div class="flex gap-2">
            {links.map((link) => <LinkButton {...link} />)}
            {
              hasScreenshots && (
                <LinkButton icon={screenshotsIcon} name={screenshotsTooltip} as="button" />
              )
            }
          </div>
        </div>
      </div>
      <div class="inline-grid w-full xl:grid-cols-[auto_auto]">
        {details.map((detail) => <LabelledValue {...detail} />)}
      </div>
    </div>
    <Description content={description} class="col-span-3 col-start-1" />
  </div>
  <TagsList {...tagsList} />
  {
    hasScreenshots && (
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
        {screenshots?.map((screenshot) => <Photo {...screenshot} class="rounded-lg" />)}
      </div>
    )
  }
</div>
