---
import type { Testimonial as TestimonialType } from '../../types/sections/testimonials-section.types';
import LinkButton from '../LinkButton.astro';
import Photo from '../Photo.astro';
import Typography from '../Typography.astro';

export interface Props extends TestimonialType {}

const { image, author, relation, content, links } = Astro.props;
---

<div class="flex flex-col gap-4">
  <div class="flex gap-4">
    <Photo
      src={image}
      alt={`${author} photo`}
      class="h-16 w-16 rounded-full object-cover flex-shrink-0"
    />
    <div class="flex w-full justify-between">
      <div>
        <Typography variant="item-title">{author}</Typography>
        <Typography variant="item-subtitle-primary">{relation}</Typography>
      </div>
      <div class="flex gap-2">
        {links.map((link) => <LinkButton {...link} />)}
      </div>
    </div>
  </div>
  <Typography variant="paragraph" class="italic">"{content}"</Typography>
</div>
